---
import Layout from "../layouts/Layout.astro";
import holidays from "../utils/holidays";
import { daysUntil, formatDate } from "../utils/helper";

export async function getStaticPaths() {
  return holidays.map((holiday) => ({
    params: { holiday: holiday.key },
  }));
}

const { holiday } = Astro.params;
const holidayDetails = holidays.find((h) => h.key === holiday);
const days = daysUntil(new Date(), holidayDetails.date);
---

<Layout title=`How Many Days Until ${holidayDetails.name}`>
  <h1>{holidayDetails.name}</h1>
  <p>{formatDate(holidayDetails.date)}</p>
  <p>Days until {holidayDetails.name}: {days}</p>
</Layout>
