---
import { daysUntil, formatDate, formatKey } from "../utils/helper";

const { holiday } = Astro.props;

const days = daysUntil(new Date(), holiday.date);
const image = holiday.image ? holiday.image : "/placeholder.webp";
---

<li>
  <a href={holiday.key}
    ><div class="card image-full card-compact bg-base-100 shadow-xl">
      <figure>
        <img src={image} alt=`${holiday.name} Image` />
      </figure>
      <div class="card-body">
        <h2 class="text-xl font-semibold tracking-wide">{holiday.name}</h2>
        <p>{formatDate(holiday.date)}</p>
        <div class="card-actions justify-end">
          <p>{days} days until {formatKey(holiday.key)}</p>
        </div>
      </div>
    </div></a
  >
</li>
