---
import { daysUntil, formatDate, formatKey } from "../utils/helper";

const { date, isSeason } = Astro.props;

const daysUntilDate = daysUntil(new Date(), date.date);
const image = date.image || "/placeholder.webp";

const days = isSeason ? daysUntilDate - 1 : daysUntilDate;
const textSize = isSeason ? "text-xl" : "";
---

<li>
  <a href={date.key}
    ><div class="card image-full card-compact bg-base-100 shadow-xl">
      <figure>
        <img src={image} alt=`${date.name} Image` />
      </figure>
      <div class="card-body">
        {
          isSeason ? (
            <h2 class="text-3xl font-semibold tracking-wide">
              Next Season: {formatKey(date.key)}
            </h2>
          ) : (
            <h2 class="truncate-11 font-semibold tracking-wide md:text-xl">
              {date.name}
            </h2>
          )
        }
        <p class={textSize}>{formatDate(date.date)}</p>
        <div class="card-actions justify-end">
          <p class={textSize}>{days} days until {date.name}</p>
        </div>
      </div>
    </div></a
  >
</li>
