---
import NavItem from "./NavItem.astro";
import seasons from "../utils/seasons";
import holidays from "../utils/holidays";
import {
  formatKey,
  getCountriesList,
  fetchCountryNamesFromCodes,
} from "../utils/helper";

const countryList = await fetchCountryNamesFromCodes(
  getCountriesList(holidays),
);
---

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <a href="/" class="mr-2 text-xl font-semibold">DaysUntil</a>
    <NavItem title="Holidays">
      {
        holidays
          .filter((holiday) => holiday.countryCode === "global")
          .sort((a, b) => new Date(a.date) - new Date(b.date))
          .map((holiday) => (
            <li>
              <a href={`/${holiday.key}`}>{formatKey(holiday.key)}</a>
            </li>
          ))
      }
    </NavItem>
    <NavItem title="Seasons">
      {
        seasons.map((season) => (
          <li>
            <a href={`/${season.key}`}>{formatKey(season.key)}</a>
          </li>
        ))
      }
    </NavItem>
    <NavItem title="Countries">
      {
        countryList.map((country) => (
          <li>
            <a href={`/${country.code.toLowerCase()}`}>{country.name}</a>
          </li>
        ))
      }
    </NavItem>
  </div>
  <div class="navbar-end hidden lg:flex">
    <!-- search? -->
  </div>
</div>
